*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Estilo adicionales para el cuerpo */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #222; /* Establece un fondo gris oscuro (#222) */
  padding: 16px; /* Agrega un relleno uniforme de 16px alrededor del contenido */
  max-width: 500px;
  margin: 0 auto;
}